---

interface Props {
  isDark?: boolean,
  className?: string;
  hasDefaultInnerStyles? : boolean;
}

const { 
  isDark = false,
  className = '',
  hasDefaultInnerStyles = true,
 } = Astro.props;


const sectionClasses = [
  hasDefaultInnerStyles && "pt-0", 
  className,
  hasDefaultInnerStyles && (isDark ? "text-background" : "text-foreground"),
].filter(Boolean).join(' ');
---

<section class={`${sectionClasses}`}>

  <slot />

</section>