---

import ContentSection from '@/components/block/ContentSection.astro';
import Icon from './Icon.astro';

interface Props {
  title: string;
  href: string;
  description: string;
}

const { 
  title,
  href,
  description
} = Astro.props;
---

<ContentSection
    hasDefaultInnerStyles={false}>
    <div class="h-full pb-8 flex items-start justify-between">
        <div class="flex-1 py-8 -my-8">
            <h4 class="text-left mt-0 mb-0">
                <a 
                    href={href}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="external-link-title"
                >
                    {title}
                </a>
            </h4>
            <p class="text-leftmb-0 space-y-4 text-foreground leading-relaxed">
                {description}
            </p>
        </div>
    </div>
</ContentSection>